.wrapper{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(120, 225, 254);
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}